.button_cta_gsap2 {
  position: relative !important;
  overflow: hidden !important; /* Important pour contenir l'effet */
}

.button_cta_gsap2::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  background: #fefcde;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: width 0.6s ease, height 0.6s ease;
}

/* Animation au hover */
.button_cta_gsap2.ripple::after {
  width: 300%; /* Taille finale du cercle */
  height: 300%;
}
